body{
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height: 15vh;
    border-bottom: 1px solid black;
}

.slideShow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    border-bottom: 1px solid black;
}

.mainSection{
    position: relative;
}

.wallpaper{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.topMain{
    width: 100%;
    height: 50vh;
    border-bottom: 1px solid black;
    color: aliceblue;
}

.infoContainer{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    width: 90%;
    height: 100%;
}

.textContainer{
    width: 55vw;
    height: 100%;
    font-size: 1.5em;
}

.text{
    margin: 0;
}

.mainTextareaHeading{
    font-size: 3em;
}

.bottomMain{
    width: 100%;
    height: 50vh;
    border-bottom: 1px solid black;
}

.footer{
    width: 100%;
    height: 25vh;
    border-bottom: 1px solid black;
}